@charset "utf-8";
.post-teaser {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    overflow: auto;
    padding-bottom: 30px;
}

.post-teaser img {
    width: auto;
    max-width: 200px;
}

.align_right, .uk-align-right {
    float: right;
    margin-left: 15px;
}

.post .meta {
    color: #999;
    font-family: Bitter, Helvetica, Arial, sans-serif;
}

.post .meta .author {
    display: block;
}

.post .meta span {
    margin-right: 12px;
}

.post .meta i {
    color: #ec1e26;
    margin-right: 4px;
}

.uk-link, a {
    color: #66a1cc;
    cursor: pointer;
    text-decoration: none;
}

.titre {
    color: #0080e8;
    font-size: 2.0rem;
    text-transform: uppercase;
    font-weight: 300;

}

.ae_contrast-flipbox * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ae_contrast-flipbox:hover .ae_flipper, .ae_contrast-flipbox.hover .ae_flipper {
    transform: rotateY(180deg);
}

.ae_contrast-flipbox, .ae_contrast-flipbox .ae_front, .ae_contrast-flipbox .ae_back {
    width: 100%;
    height: 370px;
}

.ae_contrast-flipbox .ae_flipper {
    transition: .6s;
    transform-style: preserve-3d;
    position: relative;
}

.ae_contrast-flipbox .ae_front, .ae_contrast-flipbox .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.ae_contrast-flipbox .ae_front {
    z-index: 2;
    transform: rotateY(0deg);
    text-align: center;
    border-radius: 5px;
    padding: 45px 0;
    -webkit-box-shadow: 4px 4px 11px 2px #d1cdd1;
    -moz-box-shadow: 4px 4px 11px 2px #d1cdd1;
    box-shadow: 4px 4px 11px 2px #d1cdd1;
}

.ae_contrast-flipbox .ae_front .ae_front_inner-box {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 12%;
}

.ae_contrast-flipbox .ae_front p {
    margin: 0 0 15px;
}

.ae_contrast-flipbox .ae_front h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #194d9d;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin: 0;
}

.ae_contrast-flipbox .ae_back {
    transform: rotateY(180deg);
    padding: 0;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 11px 2px #d1cdd1;
    -moz-box-shadow: 4px 4px 11px 2px #d1cdd1;
    box-shadow: 4px 4px 11px 2px #d1cdd1;
}

.ae_contrast-flipbox .ae_back .ae_front_inner-box {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
}

.ae_contrast-flipbox .ae_back h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin: 0;
}

.ae_contrast-flipbox .ae_back p {
    font-family: 'Raleway', sans-serif;
    margin: 20px 15px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
}

.ae_contrast-flipbox .ae_back a {
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 12px 0 0;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 30px;
}